<div class="p-4">

  <div class="text-center p-2">
    <img class="img-fluid rounded mx-auto d-block hero-image" src="/assets/images/sample.jpg" width="100%" height="50%">
  </div>

  <div class="">
    <div class="hero-text">
      <!-- <h1 class="text-center fst-italic fs-1">Learning Management System</h1> -->
      <p class="m-2 fw-light fs-6">Explore multiple topics! Gear up to your potential</p>
      <button class="btn my-2 bkg-primary text-white hero-img-btn">Explore
        Now <i class="fa fa-angle-double-right"></i></button>
    </div>
  </div>

  <div class="row p-4">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card info-cards signup-btn">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eum laudantium, commodi quo incidunt
            quisquam totam perferendis
            mollitia exercitationem porro amet eligendi dolore placeat nisi, tempore iusto cum aperiam non voluptatum voluptas dicta..</p>
          <a href="#" class="btn btn-outline-light bkg-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card signup-btn">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eum laudantium, commodi quo incidunt
            quisquam totam perferendis
            mollitia exercitationem porro amet eligendi dolore placeat nisi, tempore iusto cum aperiam non voluptatum voluptas dicta.</p>
          <a href="#" class="btn btn-outline-light bkg-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>